<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact page</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <main>
      <%- include("header") %>
      <h1>Contact page</h1>

      <section>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio qui
          nihil mollitia. Laudantium officia qui at quia dolores. Perspiciatis
          ducimus exercitationem aliquid id reprehenderit odio cum quasi neque?
          Vel quidem error saepe sapiente rem quis in beatae tempore? Molestias
          sapiente cumque molestiae blanditiis placeat ad voluptate veritatis ab
          quis aspernatur?
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          provident, amet ipsum praesentium nihil similique facere enim error
          asperiores alias quas culpa velit obcaecati ex temporibus deleniti
          doloribus pariatur eveniet.
        </p>
      </section>
    </main>
  </body>
</html>
