<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>

  <body>
    <main>
      <%- include("header") %>
      <h1>Home page</h1>

      <section>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit amet
          error qui iste mollitia, non nostrum veritatis delectus temporibus
          unde doloremque natus molestias fuga dolores quis odio quos
          perferendis perspiciatis labore ipsum provident iusto tempore! A unde
          possimus alias! Dicta cumque voluptate minima quasi deserunt quae
          pariatur voluptatibus tempora nam ut fuga vero distinctio, incidunt
          corporis dolore repellat error dolores optio eum veritatis
          perferendis. Praesentium dolore laboriosam dolorem beatae fuga quidem
          soluta asperiores, atque cupiditate, quasi facere. Error soluta in
          quisquam blanditiis modi iste ab facilis provident quod voluptate.
          Quisquam voluptas sint quidem. Quibusdam commodi neque temporibus,
          voluptate aut libero?
        </p>
      </section>
    </main>
  </body>
</html>
