<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services page</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <main>
      <%- include("header") %>
      <h1>Services page</h1>

      <section>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
          porro aspernatur rerum sequi explicabo tempora nulla voluptatem! In,
          laudantium quidem!
        </p>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident
          quibusdam fuga commodi, non iusto dolorum expedita doloremque, nisi
          temporibus excepturi, hic dolore quia quae nam quasi perspiciatis
          porro ut vitae iure assumenda eligendi vero. Magni iste dolores
          cupiditate necessitatibus vero nobis, sint consectetur obcaecati ex
          eum perferendis eius molestiae itaque delectus. Cupiditate obcaecati,
          asperiores inventore id libero reprehenderit. Illo rerum perferendis
          voluptas dolores voluptate vitae unde maiores sed doloremque beatae
          magnam doloribus quae necessitatibus optio aliquam iure culpa totam
          pariatur assumenda dolorem, ad voluptates laboriosam? Alias a veniam
          ratione autem asperiores perspiciatis dolor, quia quasi modi maiores,
          consequatur tempore illo.
        </p>
      </section>
    </main>
  </body>
</html>
